input {
    font-family: monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(214,94%,92%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(214,94%,85%);
}